<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GoodsDao">

    <!--根据id查询商品信息&分类-->
    <resultMap id="baseGoods_one_to_one" type="Goods">
        <id column="goods_id" property="goodsId"/>
        <result column="name" property="name"/>
        <result column="title" property="title"/>
        <result column="price" property="price"/>
        <result column="reallyPrice" property="reallyPrice"/>
        <result column="imgs" property="imgs"/>
        <result column="showimg" property="showimg"/>
        <result column="priceInterval" property="priceInterval"/>
        <result column="tips" property="tips"/>
        <collection column="category_id" property="category" select="selectCategoryById"/>
    </resultMap>

    <select id="selectGoodsById" parameterType="Integer" resultMap="baseGoods_one_to_one">
        SELECT goods_id goodsId, name, title, price, reallyPrice, imgs, showimg, priceInterval, category_id, tips
        FROM goods
        WHERE goods_id = #{id}
    </select>

    <select id="selectCategoryById" parameterType="Integer" resultType="Category">
        SELECT category_id categoryId, img, category, bigCategory_id bigCategoryId
        FROM category
        WHERE category_id = #{category_id}
    </select>

    <!--查询是否在购物车中-->
    <select id="checkInCart" resultType="Cart">
        SELECT account, goods_id, num
        FROM cart
        WHERE account = #{account}
        AND goods_id = #{id}
    </select>

    <!--更新购物车（已存在项）-->
    <update id="updateCart" >
        UPDATE cart
        SET num = #{num}
        WHERE account = #{account}
        AND goods_id = #{id}
    </update>

    <!--将商品添加进购物车-->
    <insert id="addInCart" >
        INSERT
        INTO cart
        VALUES(#{account},#{id},#{num})
    </insert>

    <!--将商品添加进收藏-->
    <insert id="addInCollection" >
        INSERT
        INTO collection
        VALUES(#{account},#{id})
    </insert>

    <!--取消收藏-->
    <delete id="removeFromCollection" >
        DELETE
        FROM collection
        WHERE account = #{account}
        AND goods_id = #{id}
    </delete>

    <!--查询是否收藏-->
    <select id="checkInCollection" resultType="GoodsCollection">
        SELECT account, goods_id
        FROM collection
        WHERE account = #{account}
        AND goods_id = #{id}
    </select>

    <!--根据商品id查询商品评价-->
    <select id="selectCommentsByGoodsId" parameterType="Integer" resultType="Comments">
        SELECT account, goods_id, time, imgs, content
        FROM comments
        WHERE goods_id = #{id}
    </select>

    <!--根据商品二级类别查询其他商品-->
    <select id="selectRecommentsByCategoryId" parameterType="Integer" resultMap="baseGoods_one_to_one">
        SELECT goods_id, name, title, price, reallyPrice, imgs, showimg, priceInterval, category_id, tips
        FROM goods
        WHERE category_id = #{id}
        LIMIT 2,4;
    </select>

</mapper>